# API Server Config
PORT=8000
HOST=0.0.0.0
ENV=development

# LLM Config (Ollama / Local LLM or OpenAI-Compatible API)
LLM_API_KEY="ollama"
LLM_BASE_URL="http://127.0.0.1:11434/v1"
LLM_MODEL="qwen2.5:1.5b"
